@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* Standard */

html {
    box-sizing: border-box;
    display: block;
    width: 100vw;
    font-family: 'Figtree', sans-serif;
    scroll-behavior: smooth;
}

header {
    height: fit-content;
    background-color: rgb(247, 247, 247);
    border-bottom: 1px solid #e4e4e7;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1.5vh; padding-bottom: 1.5vh;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 2;
}

body {
    margin: 0px;
    font-family: 'Figtree', sans-serif;
    color: #666666;
}

/* h1 */

h1 {
    text-align: center;
    font-family: 'Figtree', sans-serif;
    font-weight: 500;
    font-size: clamp(1.6rem , 2.4vw, 4rem);
    margin-top: 6.5rem;
    text-align: left;
}

/* Alignments */
.textAlignLeft {
    text-align: left;
    margin-left: 3.25rem;
}

/* Header Buttons */

button {
    font-family: 'Figtree', sans-serif;
}

.signUpButton {
    margin-left: auto;
    margin-right: 20px;
    background-color: rgb(14, 63, 126);
    border-radius: 6px;
    border: none;
    width: 80px;
    height: 25px;
}

#headerlogo {
    height: 22px;
    width: auto;
    margin-left: 18px;
}

.headertitle {
    margin-left: 15px;
    font-weight: 500;
}

#header-userbutton {
    width: 30px;
    height: 30px;
    background-color: #666666;
    border-radius: 999px;
    margin-left: 20px;
    margin-right: 15px;
}

#header-topbuttonsarea {
    margin-left: auto;
    padding-top: 5px;
}

.mainarea {
    background-image: url(public/client-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
}