@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

header {
    height: 40px;
    width: 100%;
    background-color: var(--header_background);
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-app-region: drag;
    border-bottom: 2px solid var(--sidebar_border);
}

.searchbox {
    height: 25px;
    width: 33%;
    background-color: var(--searchbox_background);
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    border: none;
    margin: none;
    color: var(--searchbox_foreground);
}

body {
    margin: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: 'Figtree', sans-serif;
    user-select: none;
}

#sidebartogglebutton {
    height: 18px;
    width: 18px;
    -webkit-app-region: no-drag;
    cursor: pointer;
    position: relative;
    overflow: visible;
    visibility: visible;
}

/* Broken Code - - needs fixing !!
    (breaks #sidebartogglebutton icon as it doesn't display,
    otherwise functions properly. )

#sidebartogglebutton::before, #sidebartogglebutton::after {
    --scale: 0;
    position: absolute;
    font-family: 'Figtree', sans-serif;
    font-size: small;
    transform: scale(var(--scale));
    transition: 30ms transform;
}

#sidebartogglebutton::before {
    content: attr(data-tooltip);
    color: white;
    padding: .3rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: .3rem;
    text-align: left;
    width: max-content;
    background: #333;
}

#sidebartogglebutton:hover::before {
    --scale: 1;
} */

#apparea {
    height: calc(100% - 40px);
    width: 100%;
    display: flex;
    flex-direction: row;
}

#workspaceswitcher {
    height: 100%;
    min-width: 70px;
    background-color: var(--sidebar_background);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid var(--sidebar_border);
}

.workspaceswitcheritem {
    width: 36px;
    height: 36px;
    margin-top: 15px;
    border-radius: 10px;
    transition: width 0.2s, height 0.2s, border 0.2s, padding 0.2s;
    border: 2px solid rgba(255, 255, 255, 0);
    cursor: pointer;
    position: relative;
}

.workspaceswitcheritem::before, .workspaceswitcheritem::after {
    --scale: 0;
    position: absolute;
    font-size: small;
    top: -.25rem;
    left: 125%;
    transform: translateY(35%) scale(var(--scale));
    transition: 30ms transform;
}

.workspaceswitcheritem::before {
    content: attr(data-tooltip);
    color: white;
    padding: .3rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: .3rem;
    text-align: left;
    width: max-content;
    background: #333;
}

.workspaceswitcheritem:hover::before {
    --scale: 1;
}

.workspaceswitcheritem[selected="selected"] {
    width: 26px;
    height: 26px;
    margin-top: 15px;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid var(--sidebar_foreground);
}

.workspaceswitcheritem[selected="selected"]>.workspaceswitcheriteminner {
    border-radius: 5px;
}

.workspaceswitcheritem[selected="false"] {
    width: 36px;
    height: 36px;
    margin-top: 15px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0);
}

.workspaceswitcheradd {
    cursor: pointer;
    position: relative;
    overflow: visible;
}

.workspaceswitcheradd::before, .workspaceswitcheradd::after {
    --scale: 0;
    position: absolute;
    font-size: small;
    top: -.25rem;
    left: 125%;
    transform: translateY(50%) scale(var(--scale));
    transition: 30ms transform;
}

.workspaceswitcheradd::before {
    content: attr(data-tooltip);
    color: white;
    padding: .3rem;
    border-radius: .3rem;
    padding-left: .5rem;
    padding-right: .5rem;
    text-align: left;
    width: max-content;
    background: #333;
}

.workspaceswitcheradd:hover::before {
    --scale: 1;
}

.workspaceswitcheradd-icon {
    color: var(--sidebar_foreground);
    font-size: 22px !important;
}

.workspaceswitcheritem[selected="false"]>.workspaceswitcheriteminner {
    border-radius: 10px;
}

/* 
.workspaceswitcheritem:hover>.workspaceswitcheriteminner {
    border-radius: 5px;
} */

.workspaceswitcheriteminner {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: border-radius 0.2s;
}

.sidebar-listarea {
    padding: 20px;
    border-top: 2px solid var(--sidebar_border);
    padding-bottom: 0px;
    font-weight: 400;
    transition: height 0.2s;
}

#messagearea {
    padding: 20px;
    padding-top: 10px;
    color: #666666;
    height: fit-content;
    overflow-y: scroll;
}

#messageareaoriginal {
    padding: 20px;
    padding-top: 10px;
    color: #666666;
    height: fit-content;
}

.threadviewbutton {
    background-color: white;
    border: 1px solid #e4e4e7;
    border-radius: 999px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    width: fit-content;
}

.messagebox {
    margin-top: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.message-sendername {
    color: var(--sidebar_background);
}

/* legacy messagebox */

/* .messagebox {
    padding-bottom: 10px;
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #e4e4e7;
} */

.message {
    user-select: text;
    font-size: 16px;
    color: #666666;
}

.messagetext {
    padding-top: 3px
}

.sidebar-listitem-icon {
    font-size: 18px !important;
    cursor: pointer;
}

.sidebar-listarea-titlecollapse {
    font-size: 18px !important;
    cursor: pointer;
}

.sidebar-listarea-titletext {
    font-size: 16px !important;
    margin-right: auto;
    font-weight: 500;
}

.sidebar-listitem-text {
    font-size: 16px !important;
    margin-left: 10px;
    font-weight: 400;
}

.sidebar-listitem {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 18px;
    cursor: pointer;
}

.sidebar-listarea-titlearea {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 18px;
}

.workspaceswitcheradd {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    background-color: var(--ws_add_button);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#shellsidebar {
    min-height: 100%;
    max-height: 100%;
    min-width: 300px;
    background-color: var(--sidebar_background);
    border-right: 2px solid var(--sidebar_border);
    color: var(--sidebar_foreground);
    overflow: scroll;
}

*::-webkit-scrollbar {
    display: none;
  }

.sidebar-wsinfoarea {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border-bottom: 2px solid rgb(46, 90, 141); */
}

.mainarea-header {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #e4e4e7;
}

#sidebar-wsinfo-name {
    font-size: 20px;
    font-weight: 500;
}

#sidebar-wsinfo-sub {
    font-size: 14px;
    color: var(--wsinfo_sub_textcolor);
}

#mainarea-header-title {
    font-size: 20px;
    font-weight: 500;
    color: #666666;
}

#mainarea-header-sub {
    font-size: 14px;
    color: rgb(120, 120, 120);
}

.sidebar-wsinfoarea-stack {
    margin-left: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom:5px;
    border-radius: 5px;
}

.sidebar-wsinfoarea-stack-nohover {
    margin-left: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom:5px;
    border-radius: 5px;
}

.sidebar-wsinfoarea-stack:hover {
    margin-left: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom:5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.097);
}

#mainarea {
    width: 100%;
    height: 100%
}

.messagebar {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(100% - 42px);
    height: 40px;
    overflow: hidden;
    border: 1px solid #e4e4e7;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

#messagebox {
    position: sticky;
    top: 0;
    border: none;
    outline: none;
    width: calc(100% - 40px);
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Figtree', sans-serif;
}

#sendbutton {
    position: sticky;
    top: 0;
    height: 40px;
    width: 40px;
    background-color: #29a083;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.sidebar-profile {
    aspect-ratio: 1;
    width: 20px;
    margin-left: auto;
    margin-right: 12px;
    background-color: #ffffff70;
    background-image: url(default-pfp/Bubbleblue.png);
    background-size: contain;
    border-radius: 4px;
    cursor: pointer;
    transition: all 100ms ease;
}

.sidebar-profile:hover {
    filter: brightness(50%);
}

.sidebar-profile input {
    visibility: hidden;
}

.channellistcontainer {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #e4e4e7;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.channellistitem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #e4e4e7;
    cursor: pointer;
}

.channellistitem:last-child {
    border-bottom: 0px solid #e4e4e7;
}

.channellistitem:hover {
    background-color: #6d6d6d0a;
}


.channellistitem-icon {
    font-size: 20px;
    color: #666666;
}

.channellistitem-text {
    font-size: 16px;
    color: #666666;
    padding-left: 10px;
}

.messageprofilepicture {
    aspect-ratio: 1;
    width: 38px;
    height: 38px;
    background-color: #ffffff70;
    border-radius: 8px;
    transition: all 100ms ease;
    margin-right: 10px;
    border: 1px solid #e4e4e7;
}