@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
    margin: 0px;
    background-color: #F7F7F7;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: figtree;
    color: #666666;
}

.authbox {
    height: auto;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}

#loginlogo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: 40px;
    width: 40px;
}

.authboxholder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    height: 40px;
    background-color: rgb(240,240,240);
    background-color: linear-gradient(180deg, rgba(240,240,240,1) 0%, rgba(228,228,228,1) 100%);
    border-radius: 5px;
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
    cursor: pointer;
    transition: .2s ease-in;
}

.signin-button:hover, .signin-button:focus {
    cursor: pointer;
    background-color: #F14E9A;
    color: white;
    transition: .2s ease-in;
}

.signin-button-secondary {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    height: 40px;
    background-color: rgb(240,240,240);
    background-color: linear-gradient(180deg, rgba(240,240,240,1) 0%, rgba(228,228,228,1) 100%);
    border-radius: 5px;
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
    cursor: pointer;
    transition: .2s ease-in;
}

.signin-button-secondary:hover, .signin-button-secondary:focus {
    cursor: pointer;
    background-color: rgb(41,119,158);
    color: white;
}

.auth-input {
    width: calc(100% - 32px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    height: 8px;
    outline: none;
    border: none;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-family: Figtree;
    border: 1px solid #e4e4e7;
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
    cursor: text;
}

.authboxtext {
    margin-bottom: 20px;
    font-size: 18px;
}

.back-btn {
    position: absolute;
    cursor: pointer;
    font-size: 24px !important;
    left: 12px;
    top: 12px;
    padding: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	margin-bottom: 2rem;
}
.footer-link {
	color: #666666;
	text-decoration: underline;
	text-decoration-thickness: 10%;
	text-decoration-color: rgba(102, 102, 102, 0.5);
	text-underline-offset: 0.25rem;
	font-size: 0.9rem;
	font-weight: 500;
	text-align: center;
}
.loader-circle-animation {
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.error-auth-box {
	display: none;
	width: calc(100% - 2rem);
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 500;
	height: fit-content;
	outline: none;
	border: none;
	padding: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-radius: 8px;
	margin-bottom: 1rem;
	font-family: 'Figtree', sans-serif;
	background-color: #ffeaea;
	color: #b23010;
	box-shadow: 0 0 0 2px #ffb3b3, 0 2px 8px -2px #b2301033;
	cursor: text;
}