body {
    --ws_add_button: #D77A8C;
    --sidebar_background: #f5b2bf;
    --header_background: #f5b2bf;
    --searchbox_background: #D68696;
    --searchbox_foreground: #841717;
    --sidebar_foreground: #841717;
    --sidebar_border: #ee91a3;
    --wsinfo_sub_textcolor: #390A13;
}